
// vendor
//@import "vendor/fontawesome/font-awesome";
@import "vendor/normalize";
@import "vendor/responsive-nav";
@import "vendor/bootstrap/navbar-toggle";
@import "vendor/foundation-4/accordion-section";
@import "vendor/elusive/elusive";


// framework
@import "framework/mixin"; 
@import "framework/variable"; 
@import "framework/utilities";
@import "framework/scaffolding";
@import "framework/grid"; 

// module 
@import "module/form"; 
@import "module/button"; 
@import "module/type"; 
@import "module/table"; 

// part
@import "part/navbar"; 


.top, section, header, article  {
	@extend .row;
}
.inner {
	@extend .container;
	padding: 2em 0;
}

article[class*='page-'] {
	@extend .container;
}

section[class*='page-'] {
	@extend .two-thirds;
	@extend .column;
}


.aboutus-img {
	@extend .column;
	@extend .third;
}

button#toggle {
	margin: -0.5em 0.7em;
}

.nav-header a {
	margin-left: 2em;
}

nav {
	margin-top: 0.5em;
}
@media (max-width: 767px) { 
  .top {
		background-image: url('../img/768x510.jpg');
	}
}
@media(min-width:768px){
  .top {
		background-image: url('../img/768x510.jpg');
	}

}
@media(min-width:992px){
	.top {
		background-image: url('../img/1000x664.jpg');
	}
}

@media(min-width:1200px){
	.top {
		background-image: url('../img/1200x797.jpg');
	}

}
@media(min-width:1300px){
	.top {
		background-image: url('../img/1300x863.jpg');
	}

}

.top {
	background-size: cover;
	padding: 7em;
	background-position: center center;
	background-color: darken($brand-primary, 100%);
	.inner {
		color: $body-bg;
		//@extend .third;
		h5 {
			margin: 0;
		}
		h1, h2, h3, h4, h5, h6, p {
			text-shadow: rgba(0, 0, 0, 0.17) 1px 1px;
		}
	}
}

@media (max-width: 767px) { 
  .top { padding: 0.5em;}
}
@media(min-width:768px){
  .top { padding: 4em;}

}
@media(min-width:992px){
  .top { padding: 7em; }
}



address {
	font-style: normal;
	padding: 1em;
}

.sr {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

html {
background-color: darken($body-bg, 2%); 
}
body {
	background-color: $body-bg;
}

article {
		padding-bottom: 10em;
}
.btn {
	margin: 1em 0;
}

.page-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;

}

button.btn {
	font-size: 1.5em;
}
// front page 

// dependent on Foundation Accordion

.product-list {
	@extend .section-container;
	@extend .accordion;
	list-style: none;
	a {
		text-decoration: none;
	}
}

.product-title {
	margin: 0.7em 0 0.3em;
}

.info {
	margin: 0.5em 0;
}

// front page 

.dark {
	background-color: darken($body-bg, 2%); 
}

// video 

.close-video {
	text-align: right;
	font-size: 2em;
	a {
	text-decoration: none;
	color: white;
		&:hover {
		color: $brand-primary;
		}
	}
}

.front-img {
	@extend .third;
	@extend .column;
}

.front-text {
	@extend .two-thirds;
	@extend .column;
}

.light .front-text {
	@extend .flow-opposite;
}


.light, .dark {
	@extend .row;
	@extend .column;
	@extend .full;
	padding: 4em 0;
}

.top .left {
	@extend .column;
	@extend .two-thirds;
}

.top .right {
	@extend .column;
	@extend .third;
}

video {
	max-width: 100%;
	border-radius: 5px;
}

.close-video {
	font-size: 1.5em;
}


// breadcrumbs

a.inactive {
	color: lighten($link-color, 50%);
}

.breadcrumb {
	padding: 1.5em;
	a {
		text-decoration: none;
	}
}

footer {
	text-align: center;
	width: 100%;
	padding-top: 1em;
	background-color: darken($body-bg, 2%); 
		address, ul, .links {
	text-align: left;
display: inline-block;
	}
.inner-footer {
	@extend .container;
	@extend .row;
}
.icon-set-footer, .address-footer {
	@extend .column;
	@extend .half;
}
.copyright {
	@extend .container;
	@extend .row;
	padding: 1em;
}
}
@media (min-width: 40rem) {
footer {
padding: 4rem 0;
}

}


.icon-set li {
	display: block;
	a {
		text-decoration: none;
	}
	p.phone, p.email {
		display: inline-block;
		vertical-align: middle;
	}
	p.phone {
		margin: 0 0 2em 1em;
	}
	p.email {
		margin: 0 0 2.1em 1em;
	}
}


// products

.product, .product-list {
	@extend .column;
}

.product {
	@extend .two-thirds;
	.info {
		@extend .three-fourths;
	}

	img {
		border-radius: 2px;
	}
}

.info a, .download-list a {
	display: inline-block;
	margin-left: 0.2em;
	text-decoration: none;
	font-weight: 800;
	background-color: darken($body-bg, 5%);
	border-radius: 4px;
	padding: 0.7em;
}

.img-list {
	max-width: 650px; // keep images consistent sizes
}

.product-list {
	@extend .fourth;
}

.muted {
	color: lighten($text-color, 35%);
}

@media (max-width: 60em) {
	.product-list {
		text-align: center;
		padding: 0;
		li, .title {
			padding: 0.2em;
			font-size: 2em;
		}
	}
  }
@media (max-width: 75em) {
  	.video {
		display: none;
	}	
}


 // contact

article address {
	@extend .column;
	@extend .two-thirds;
}
article form {
	@extend .column;
	@extend .third;
}



.btn-top {
	@extend .btn;
	margin-right: 1em;
}

article.four-zero-four {
	background-color: darken($body-bg, 2%); 
	.top-four-zero-four {
		text-align: center;
		margin-top: 15%;
	}
}
.bottom-four-zero-four {
@extend footer;
}
.link-group {
	@extend .inner-footer;	
}

ul[class*='links-'] {
	@extend .column;
	@extend .full;	
	padding: 0;
	list-style: none;
	text-align: center;
	a {
		text-decoration: none;
	}
}

#message {
	min-width: 100%;
}