button#toggle {
	background-color: transparent;
	background-image: none;
	border: 0;
	outline: 0;
	float: right;
	padding: 1.2em;
	margin: 0.3em 0.7em;
}
/*
nav {
	margin-top: 1.5em;
}
/*
header .nav-header .header-name {
	margin: 1em 0 0 1em;
}
*/

header {
	padding: 2em 0;
	background-color: darken($body-bg, 5%);
}

header li a {
	display: block;
	padding: 0.3em 0 0.2em 0;
}

.nav-header a {
	margin-left: 1em;
	font-weight: 800;
}

@media (max-width: 40em) { 
	.nav-header a {
		margin-top: 0.7em;
	}
	}
header li a, .nav-header a {
		@extend .h6;
		text-decoration: none;
}
.header-name {
	float: left;
}

header li {
	margin-left: 1em;
}
#toggle {
	padding: 0 2em 0 2em;
}

.icon-bar {
	background-color: $brand-primary;
}

#toggle {
	background-color: inherit;
	border: none;
	//margin-top: 4px;
	//margin-bottom: 4px;
	 .icon-bar {
	 		background-color: $brand-primary;
	 }
	 &:hover, &:focus, &:active {
	 		background-color: $brand-primary;
	 		.icon-bar {
	 			background-color: white;
	 		}

	 }
	 &:active {
	 		background-color: $brand-primary;
	 		-webkit-box-shadow: none;
	 		box-shadow: none;
	 		.icon-bar {
	 			background-color: white;
	 		}

	 }
}


.nav-header, .nav-collapse {
	@extend .row;
}