// Bootstrap buttons

$button-top: 0.5em;
$button-left: 1em;


$button-medium: $button-top $button-left;
$button-large: $button-top * 2 $button-left * 2;


@media (max-width: 767px) { 
  button { padding:  1em 2.5em;
}

}


.btn, input[type="submit"], button {
  color: $link-color-contrast;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0.5em 1em 0.5em 1em;
  font-size: 1em;
  line-height: 1;
  @include border-radius(4px);
    user-select: none;
    background-color: $brand-primary;
  &:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  &:hover,
  &:focus {
  color: $text-color;
  text-decoration: none;
  border: 1px solid lighten($brand-primary, 40%);
  }
  &:active {
    outline: 0;
    background-image: none;
   -webkit-box-shadow: none;
   box-shadow: inset none;
  }
}

button.close:hover, .search-btn {
  border: 0;
}

button.close, .search-btn {
  border: 0;
}

.search-btn {
  background-color: none;
  &:hover {
  background-color: none;

  }
}

// buttons

button {
  background-image: none;
  margin-top: 0.5em;
.btn {
  background-color: $body-bg;
  color: white;

}

}
.btn:hover, .btn:focus, .btn:active {
  background-color: lighten($brand-primary, 10%);
  color: #fff;
  border: 1px solid lighten($brand-primary, 10%);
}

.large {
  padding: 1em 2em;
}
.contrast-btn {
  @extend .btn;
background-color: lighten($brand-primary, 35%);
  &:hover {
    background-color: $brand-primary;
    border: 1px solid lighten($brand-primary, 20%);
  }
}