thead {
	background-color: darken($body-bg, 5%);
}

th, td {
	display: table-cell;
	line-height: 1em;
}

th {
		padding: 1em;
}
td {
	padding: 0.3em;
}

tbody {
	display: table-row-group;
}

tr {
	display: table-row;
	&:nth-of-type(even) {
		background-color: darken($body-bg, 5%);
	}
}

table {
	display: table;
	border-collapse: separate;
	border-spacing: 1px;
	border: solid 1px darken($body-bg, 15%);
	@extend .container;
}


	.responsive {
		width: 100%;
  		margin-bottom: 3em;
  		overflow-y: hidden;
  		overflow-x: scroll;
  		-ms-overflow-style: -ms-autohiding-scrollbar;
  		-webkit-overflow-scrolling: touch;
	}


table {
	font-size: 14px;
}