

@media (max-width: 767px) { 
  html { font-size: 70%; }
}
@media(min-width:768px){
  html { font-size: 80%; }

}
@media(min-width:992px){
  html { font-size: 90%; }


}
@media(min-width:1200px){
	  html { font-size: 100%; }

}




$base-heading: 72px;



h1, .h1 {
@include font-size($base-heading / 1);
}

h2, .h2  {
@include font-size($base-heading / 1.5);
}

h3, .h3 {
@include font-size($base-heading / 1.8);
}

h4, .h4 {
@include font-size($base-heading / 2.2);
}

h5,  .h5 {
@include font-size($base-heading / 2.6);
}

h6, .h6 {
@include font-size($base-heading / 3);
}

p, .p {
@include font-size($base-heading / 4);
}

li {
@include font-size($base-heading / 4);
}

th {
	@include font-size($base-heading / 5);

}

td {
	@include font-size($base-heading / 5.5);

}

h1, h2, h3, h4, h6 {
	margin: 0.2em 0 0.3em;
}

i {
@include font-size($base-heading / 1.3);
}

tr {
@include font-size($base-heading / 4);
}

.breadcrumb a, .breadcrumb span {
	@include font-size($base-heading / 4);
}