@media (min-width: 40em) {
  .column {
    float: left;
    padding-left: 1em;
    padding-right: 1em;
  }
  
.column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.three-fourths { width: 75%; } 
  .column.fourth { width: 25%; } 
    .column.flow-opposite { float: right; }  
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  *zoom: 1;
}

.row {
  @extend .clearfix;
}