a {
  color: $link-color;
  &:hover {
    color: $link-hover-color;
  } 
}

.icon-set {
  list-style: none;
  padding: 0;
  li {
    display: inline;
  }
}

.container {
  margin: 0 auto;
  max-width: 96rem;
  width: 90%;
}


::selection {
  background-color: $brand-primary;
  color: $brand-secondary;
} 

hr {
  border: $line;
  margin: 10em 0 10em 0;
}

img {
  max-width: 100%;
}

.img-list {
  list-style: none;
  padding: 0;
  margin: 0;
}