

// colours

$brand-primary:         #E1451F !default;
$brand-secondary: #fff !default;
$brand-background: #eff2f5 !default;

$gray: #ccc; 

$gray-lightest: lighten($gray, 50%); 
$gray-lighter: lighten($gray, 15%); 
$gray-light: lighten($gray, 5%); 

$gray-dark: darken($gray, 5%); 
$gray-darker: darken($gray, 15%); 
$gray-darkest: darken($gray, 50%); 



$body-bg:               #fff !default;
$text-color:            darken($body-bg, 90%)!default;
$link-color-contrast:   lighten($body-bg, 90%) !default;
$link-color:            darken($body-bg, 90%) !default;
$link-hover-color:      $brand-primary !default;
$link-decoration-link: 		underline;
$link-decoration-link-hover: 		underline;



$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;

// fonts

$fa-font-path:   "../font/fontawesome";


// divider

$line: 1px $gray solid;